@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin-top: 50px;
    font-family: "Jost", sans-serif;
    background-color: #141c24;
    color: #dedede;
}

/* BLOG */

.blog-title {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 15em;
    font-weight: 500;
}

.blog-desc {
    font-size: 1.4em;
}

.blog-item {
    font-size: 1.5em;
    color: #ff963f;
}

#slash {
    color: #dedede;
}

/* LINK */

a:link, a:visited, a:active {
    color: #ff963f;
    transition: 0.2s;
}

a:hover {
    color: #7fc1ffb4;
    transition: 0.2s;
}

@media (max-width: 500px) {

    .blog-title {
        font-size: 5em;
    }

    .blog-item-desc {
        font-size: 1em;
    }

    .blog-item {
        font-size: 1.2em;
    }

}