@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap');

/* justify-content: center; 
    align-items: center; */

/* GENERIC STYLING */

:root {
    --bg-color: #1a2034;
    --font-color: #fffae6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

p {
    margin: 10px 0;
}

/* HELPER */

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.main-flex {
    display: flex;
    flex-direction: column;
}

/* LANDING PAGE */

.landing-page {
    height: 100%;
    background-color: var(--bg-color);
}

.lp-picture img {
    width: 30%;
    height: auto;
}

.lp-content {
    font-size: 2.5em;
}

.landing-page .main-flex .flex {
    padding: 15px 0;
    color: var(--font-color);
}