@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --margin-all: 30px;
    --margin-top: 20px;
    --margin-left: 20px;
    --shadow-strength: 0px;
    --shadow-color: #000;

    --tile-padding-top: 10px;
    --tile-padding-left: 20px;
    --tile-padding-right: 20px;
    --tile-padding-bottom: 20px;

    --tile-color-blue: #c6d7f9;
    --tile-color-orange: #ffdbbd;
    --tile-color-gray: #f1f1f1;

    --color-white: #fff;
    --color-black: #000;
    --icon-color-gray: #a7a7a7;
    --hover-color: #3e7eff;

    --link-transition-time: 0.2s;
    
    /* DARK MORE ATTRIBUTES */

    --dark-mode-bg-color: #1b3349;
    --tile-dark-color-blue: #7fc1ffb4;
    --tile-dark-color-orange: #ff963f;
    --tile-dark-color-gray: #426d95;
    --hover-dark-color: #8eb2fb;
    --hover-sc-dark-color: #d45100;
    
    --mode-transition-time: 0.5s;
}

body {
    margin: var(--margin-all);
    font-family: "Jost", sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
    transition: var(--mode-transition-time);
}

#main-container {
    margin-top: 10vh;
}

/* PROFILE PICTURE */

.profile-pic {
    width: 100%;
    text-align: center;
}

.my-picture {
    width: 250px;
    border-radius: 75px;
}

/* ABOUT ME */

.about-me-title {
    padding: 40px 0px 20px 0px;
    text-align: center;
    font-size: 3.5em;
    font-weight: 500;
}

.about-me-desc {
    text-align: center;
    font-size: 1.5em;
}

#email-id {
    color: var(--tile-dark-color-orange);
}

/* DIVIDER */

.section-divider {
    padding: 50px 0px;
}

#divider {
    text-align: center;
    height: 5px;
    border-radius: 50px;
    background-color: var(--tile-dark-color-blue);
}






.grid {
    width: 100%;
}

.grid-item {
    float: left;
    border-radius: 15px;
}

/* LINK */

a:link, a:visited, a:active {
    color: var(--color-black);
    transition: var(--link-transition-time);
}

a:hover {
    color: var(--hover-color);
    transition: var(--link-transition-time);
}

.a-dark:link, .a-dark:visited, .a-dark:active {
    color: var(--color-white);
    transition: var(--mode-transition-time);
}

.a-dark:hover {
    color: var(--hover-dark-color);
    transition: var(--link-transition-time);
}

.a-dark-social:link, .a-dark-social:visited, .a-dark-social:active {
    color: var(--color-white);
    transition: var(--mode-transition-time);
}

.a-dark-social:hover {
    color: var(--hover-sc-dark-color);
    transition: var(--link-transition-time);
}

#scyt:link, #scyt:visited, #scyt:active {
    transition: var(--mode-transition-time);
}

#scyt:hover {
    color: var(--hover-sc-dark-color);
    transition: var(--link-transition-time);
}

#scin:link, #scin:visited, #scin:active {
    transition: var(--mode-transition-time);
}

#scin:hover {
    color: var(--hover-sc-dark-color);
    transition: var(--link-transition-time);
}

/* DARK MODE */

.dark-mode {
    background-color: var(--dark-mode-bg-color);
    color: var(--color-white);
    transition: var(--mode-transition-time);
}

/* PROFILE PICTURE */

.grid-item-profile-pic {
    height: 200px;
    width: 200px;
}

/* .my-picture {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px var(--shadow-strength) var(--shadow-color);
} */

/* TILE CHARACTERISTICS */

.tile-title {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 5px;
}

.tile-subtitle {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 5px;
}

.tile-content {
    font-size: 0.9em;
    font-weight: 500;
}

.tile-subcontent {
    font-size: 0.9em;
    font-weight: 500;   
    padding-bottom: 5px;
}

/* ABOUT */

.grid-item-about {
    margin-left: var(--margin-left);
    height: 200px;
    width: 550px;
    background-color: var(--tile-color-blue);
    box-shadow: 0px 0px var(--shadow-strength) var(--tile-color-blue);
    transition: var(--mode-transition-time);
    padding-top: var(--tile-padding-top);
    padding-left: var(--tile-padding-left);
    padding-right: var(--tile-padding-right);
    padding-bottom: var(--tile-padding-bottom);
}

.grid-item-about-dark {
    background-color: var(--tile-dark-color-blue);
    transition: var(--mode-transition-time);
}

/* EDUCATION */

.grid-item-education {
    margin-left: var(--margin-left);
    height: 200px;
    width: 517px;
    background-color: var(--color-white);
    border: 3px solid var(--tile-color-orange);
    transition: var(--mode-transition-time);
    box-shadow: 0px 0px var(--shadow-strength) var(--tile-color-orange);
    padding-top: var(--tile-padding-top);
    padding-left: var(--tile-padding-left);
    padding-right: var(--tile-padding-right);
    padding-bottom: var(--tile-padding-bottom);
}

.grid-item-education-dark {
    background-color: var(--dark-mode-bg-color);
    border: 3px solid var(--tile-dark-color-orange);
    transition: var(--mode-transition-time);
}

/* EXPERIENCE */

.grid-item-experience {
    margin-top: var(--margin-top);
    margin-left: var(--margin-left);
    height: 340px;
    width: 490px;
    background-color: var(--tile-color-blue);
    transition: var(--mode-transition-time);
    box-shadow: 0px 0px var(--shadow-strength) var(--tile-color-blue);
    padding-top: var(--tile-padding-top);
    padding-left: var(--tile-padding-left);
    padding-right: var(--tile-padding-right);
    padding-bottom: var(--tile-padding-bottom);
}

.grid-item-experience-dark {
    background-color: var(--tile-dark-color-blue);
    transition: var(--mode-transition-time);
}

/* RECOGNITION */

.grid-item-recognition {
    margin-top: var(--margin-top);
    height: 535px;
    width: 450px;
    background-color: var(--tile-color-orange);
    transition: var(--mode-transition-time);
    box-shadow: 0px 0px var(--shadow-strength) var(--tile-color-orange);
    padding-top: var(--tile-padding-top);
    padding-left: var(--tile-padding-left);
    padding-right: var(--tile-padding-right);
    padding-bottom: var(--tile-padding-bottom);
}

.grid-item-recognition-dark {
    background-color: var(--tile-dark-color-orange);
    transition: var(--mode-transition-time);
}

/* SKILLS */

.grid-item-skills {
    margin-top: var(--margin-top);
    margin-left: var(--margin-left);
    height: 340px;
    width: 400px;
    transition: var(--mode-transition-time);
    background-color: var(--tile-color-gray);
    box-shadow: 0px 0px var(--shadow-strength) var(--shadow-color);
    padding-top: var(--tile-padding-top);
    padding-left: var(--tile-padding-left);
    padding-right: var(--tile-padding-right);
    padding-bottom: var(--tile-padding-bottom);
}

.grid-item-skills-dark {
    background-color: var(--tile-dark-color-gray);
    transition: var(--mode-transition-time);
}

/* PROFILE */

.grid-item-profile {
    margin-top: var(--margin-top);
    margin-left: var(--margin-left);
    height: 175px;
    width: 400px;
    background-color: var(--color-white);
    transition: var(--mode-transition-time);
    border: 3px solid var(--tile-color-blue);
    box-shadow: 0px 0px var(--shadow-strength) var(--tile-color-blue);
    padding-top: var(--tile-padding-top);
    padding-left: var(--tile-padding-left);
    padding-right: var(--tile-padding-right);
    padding-bottom: var(--tile-padding-bottom);
}

.grid-item-profile-dark {
    background-color: var(--dark-mode-bg-color);
    border: 3px solid var(--tile-dark-color-blue);
    transition: var(--mode-transition-time);
}

/* MUSIC */

.grid-item-music {
    margin-top: var(--margin-top);
    margin-left: var(--margin-left);
    height: 175px;
    width: 490px;
    transition: var(--mode-transition-time);
    background-color: var(--tile-color-orange);
    box-shadow: 0px 0px var(--shadow-strength) var(--tile-color-orange);
    padding-top: var(--tile-padding-top);
    padding-left: var(--tile-padding-left);
    padding-right: var(--tile-padding-right);
    padding-bottom: var(--tile-padding-bottom);
}

.grid-item-music-dark {
    background-color: var(--tile-dark-color-orange);
    transition: var(--mode-transition-time);
}

/* SOCIALS */

/* LIGHT - DARK MODE */

.grid-item-mode {
    margin-left: var(--margin-left);
    height: 53px;
    width: 53px;
    background-color: var(--tile-dark-color-gray);
    transition: var(--mode-transition-time);
    text-align: center;
    padding-top: 11px;
}

.fa-moon {
    color: var(--color-white);
    font-size: 2em;
    opacity: 1;
}

.fa-sun {
    color: var(--color-white);
    font-size: 2em;
    opacity: 1;
}

#mode:hover {
    transition: var(--link-transition-time);
    background-color: var(--tile-dark-color-orange);
}

/* GITHUB */

.grid-item-git {
    margin-left: var(--margin-left);
    margin-top: var(--margin-top);
    height: 53px;
    width: 53px;
    transition: var(--mode-transition-time);
    background-color: var(--icon-color-gray);
    transition: var(--link-transition-time);
    text-align: center;
    padding-top: 11px;
}

.grid-item-git-dark {
    background-color: var(--tile-dark-color-gray);
    transition: var(--mode-transition-time);
}

.fa-github {
    color: var(--color-white);
    font-size: 2em;
}

#git:hover {
    transition: var(--link-transition-time);
    background-color: var(--tile-dark-color-blue);
}

/* LINKEDIN */

.grid-item-linkedin {
    margin-left: var(--margin-left);
    margin-top: var(--margin-top);
    height: 53px;
    width: 53px;
    background-color: var(--icon-color-gray);
    transition: var(--mode-transition-time);
    transition: var(--link-transition-time);
    text-align: center;
    padding-top: 11px;
}

.grid-item-linkedin-dark {
    background-color: var(--tile-dark-color-gray);
    transition: var(--mode-transition-time);
}

.fa-linkedin-in {
    color: var(--color-white);
    font-size: 2em;
}

#linkedin:hover {
    transition: var(--link-transition-time);
    background-color: var(--tile-dark-color-blue);
}