@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap');

/* GENERIC STYLING */

:root {
    --bg-color: #1a2034;
    --font-color: #fffae6;
    --hover-color: #7ce0ff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover 
{
    color: var(--hover-color);
}

/* HELPER */

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.main-flex {
    display: flex;
    flex-direction: column;
}

/* LANDING PAGE */

.landing-page {
    height: 100%;
    background-color: var(--bg-color);
}

.lp-content img {
    width: 30%;
    height: auto;
}

.lp-content {
    font-size: 2.8em;
    font-weight: 600;
}

.landing-page .main-flex .flex {
    padding: 15px 0;
    color: var(--font-color);
}


/* CREDS HELPER */

.content-flex {
    display: flex;
    height: auto;
}

.content-title {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--font-color);
    height: auto;
    padding-bottom: 30px;
}

.content-date {
    color: var(--font-color);
    height: auto;
    padding: 10px 20px;
    width: 10%;
}

.content {
    color: var(--font-color);
    height: auto;
    padding: 10px 20px;
}

/* EDUCATION PAGE */

.education-page {
    height: 270px;
    background-color: var(--bg-color);
}

/* EXPERIENCE PAGE */

.experience-page {
    height: 230px;
    background-color: var(--bg-color);
}

/* SKILLS PAGE */

.skills-page {
    height: 360px;
    background-color: var(--bg-color);
}

/* RECOGNITION PAGE */

.recognition-page {
    height: 400px;
    background-color: var(--bg-color);
}

/* PROFILE PAGE */

.profile-page {
    height: 180px;
    background-color: var(--bg-color);
}

.profile-page .container .content a {
    border-bottom: 2px var(--font-color) solid;
}

.profile-page .container .content a:hover {
    border-bottom: 2px var(--hover-color) solid;
}

/* MUSIC PAGE */

.music-page {
    height: 200px;
    background-color: var(--bg-color);
}

.music-page .container .content a {
    border-bottom: 2px var(--font-color) solid;
}

.music-page .container .content a:hover {
    border-bottom: 2px var(--hover-color) solid;
}

/* FOOTER PAGE */

.footer-page {
    height: 350px;
    padding-top: 100px;
    background-color: var(--bg-color);
    align-items: center;
}

/* RESPONSIVE - MOBILE */

@media (max-width: 500px) {
    
    .landing-page {
        height: 100%;
        background-color: var(--bg-color);
    }

    .lp-content img {
        width: 35%;
        height: auto;
    }

    .lp-content {
        font-size: 2.5em;
        font-weight: 600;
    }
    
    .landing-page .main-flex .flex {
        padding: 15px 0;
        color: var(--font-color);
    }

    .education-page {
        height: 450px;
        background-color: var(--bg-color);
    }

    .experience-page {
        height: 330px;
        background-color: var(--bg-color);
    }

    .skills-page {
        height: 540px;
        background-color: var(--bg-color);
    }
    
    .recognition-page {
        height: 610px;
        background-color: var(--bg-color);
    }

    .profile-page {
        height: 240px;
        background-color: var(--bg-color);
    }
    
    .music-page {
        height: 270px;
        background-color: var(--bg-color);
    }

    .footer-page {
        height: 520px;
        padding-top: 100px;
        background-color: var(--bg-color);
        align-items: center;
    }

}