body {
    font-family: 'Castoro', serif;
}

a {
    color: black;
    transition: color 0.2s;
}

a:hover {
    text-decoration: none;
    color: #4185d2;
    transition: color 0.2s;
}

#main-container {
    width: 100vw;
}
#main-container, #main-row {
    height: 100vh;
    font-family: 'Castoro', serif;
    font-weight: bold;
}

#profile-pic {
    border-radius: 50%;
    height: 175px;
}

#intro-line {
    font-size: 4vh;
}

#left-pic-intro .row {
    padding: 10px 0;
}

.landing-page-content {
    height: 75vh;
    /* border-left: 2px solid #000000; */
    padding-left: 50px;
    font-size: 2.8vw;
}

#nav-bar-elements {
    padding: 0 20px;
}

.transition-fade {
    opacity: 1;
    transition: 300ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}

/**************************************
                ABOUT
**************************************/

.about-page-content {
    height: 75vh;
    border-left: 2px solid #dbdbdb;
    padding-left: 50px;
    font-size: 2.5vh;
    width: 50vw;
}

.content-section-about {
    font-size: 2.5vh;
}

/**************************************
                PROJECTS
**************************************/

#project-header-row {
    height: 20vh;
}

#project-title {
    padding: 0 0;
    font-size: 5vh;
    font-weight: 900;
    border-bottom: 5px solid #4185d2;
}

.nav-menu {
    padding-left: 35px;
    font-size: 2vh;
}

#projects-container, #project-row {
    height: 80vh;
    font-family: 'Castoro', serif;
    font-weight: bold;
}

/**************************************
                MUSIC
**************************************/

#music-heading {
    height: 10vh;
}

#music-titles {
    font-size: 2vw;
    border-left: 5px solid #f59f66;
}

#listening-to .row {
    height: 10vh;
}

#performance-list .row {
    height: 6vh;
}

#perform-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
    font-weight: 800;
}

#perform-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vh;
    font-weight: 400;
}

/**************************************
                CONTACT
**************************************/

#social-network a.icoRss:hover {
	color: #F56505;
}
#social-network a.icoFacebook:hover {
	color:#3B5998;
}
#social-network a.icoTwitter:hover {
	color:#33ccff;
}
#social-network a.icoGoogle:hover {
	color:#BD3518;
}
#social-network a.icoVimeo:hover {
	color:#0590B8;
}
#social-network a.icoLinkedin:hover {
    color:#007bb7;
}

#social-elements .row {
    padding: 0px 0;
}

#social-network a {
    font-size: 30px;
}




