* {	
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.typed-cursor {
	opacity: 0;
}

/******************************************
			      PAGE I  
*******************************************/

.header1 {
	background-color: #212333;
	height: 100%;
	width: 100%;
}

#particles-js {
	height: 100%;
}

.row {
	top: 4%;
	width: 100%;
	color: #fff;
	position: absolute;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	font-weight: 900;
}

.col-sm-9 {
	text-align: left;
	left: 1.5%;
}

.typer1 {
	top: 42%;
}

.typer2 {
	top: 46%;
}

.typer3 {
	height: 6%;
	top: 87%;
}

.intrigued {
	width: 100%;
	color: #fff;
	position: absolute;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	font-weight: 100;
}

.write {
	width: 100%;
	color: #fff;
	position: absolute;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	font-weight: 800;
}

/******************************************
			     PAGE II  
*******************************************/

.header2 {
	background-color: #f0f0f0;
	height: 80%;
	width: 100%;
	position: relative;
}

.me {
	height: 35%;
	top: 10%;
	left: 0;
}

.rounded-circle {
	height: 100%;
	width: auto;
}

.myname {
	left: 0;
	top: 48%;
	width: 100%;
	color: #fff;
	color: #000;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6em;
	font-weight: 900;
}

.aboutme {
	top: 67%;
	width: 100%;
	color: #fff;
	color: #000;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.05em;
	font-weight: 300;
}

/******************************************
			    PAGE III  
*******************************************/

.header3 {
	background-color: #303030;
	height: 100%;
	width: 100%;
	position: relative;
}

.projhead {
	font-size: 3rem;
	top: 3%;
	left: 0;
}

#git1 {
	color: white;
	text-decoration: none;
}
#git1:hover {
	color: #707070;
	text-decoration: none;
}

/*   PROJECT I   */

.proj1 {
	text-align: left;
	font-size: 1.2rem;
	top: 15%;
	left: 0px;
}

.p1 {
	width: 100%;
	border-radius: 0;
	height: 8px;
	background-color: white;
}

.b1 {
	background-color: #707070;
}

.proj1prog {
	top: 10px; 
}

.proj1des {
	line-height: 1.2em;
	text-align: left;
	font-size: 0.9rem;
	font-weight: 100;
	top: 23%;
	left: 0px;
}

/*   PROJECT II   */

.proj2 {
	text-align: left;
	font-size: 1.2rem;
	top: 35%;
	left: 0px;
}

.p2 {
	width: 100%;
	border-radius: 0;
	height: 8px;
	background-color: white;
}

.b2 {
	background-color: #707070;
}

.proj2prog {
	top: 10px; 
}

.proj2des {
	line-height: 1.2em;
	text-align: left;
	font-size: 0.9rem;
	font-weight: 100;
	top: 39%;
	left: 0px;
}

/*   PROJECT III   */

.proj3 {
	text-align: left;
	font-size: 1.2rem;
	top: 58%;
	left: 0px;
}

.p3 {
	width: 100%;
	border-radius: 0;
	height: 8px;
	background-color: white;
}

.b3 {
	background-color: #707070;
}

.proj3prog {
	top: 10px; 
}

.proj3des {
	line-height: 1.2em;
	text-align: left;
	font-size: 0.9rem;
	font-weight: 100;
	top: 62%;
	left: 0px;
}

/*   PROJECT IV   */

.proj4 {
	text-align: left;
	font-size: 1.2rem;
	top: 74%;
	left: 0px;
}

.p4 {
	width: 100%;
	border-radius: 0;
	height: 8px;
	background-color: white;
}

.b4 {
	background-color: #707070;
}

.proj4prog {
	top: 10px; 
}

.proj4des {
	line-height: 1.2em;
	text-align: left;
	font-size: 0.9rem;
	font-weight: 100;
	top: 78%;
	left: 0px;
}