* {	
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

/*   PAGE I   */

.header1 {
	background-color: #212333;
	height: 100%;
	width: 100%;
}

#particles-js {
	height: 100%;
}

.row {
	top: 4%;
	width: 100%;
	color: #fff;
	position: absolute;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	font-weight: 900;
}

.col-sm-9 {
	text-align: left;
	left: 2.5%;
}


.typer1 {
	top: 42%;
}

.typer2 {
	top: 46%;
}

.intrigued {
	width: 100%;
	color: #fff;
	position: absolute;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	font-weight: 100;
}

.write {
	width: 100%;
	color: #fff;
	position: absolute;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	font-weight: 800;
}

/*   PAGE II   */

.header2 {
	background-color: #f0f0f0;
	height: 60%;
	width: 100%;
	position: relative;
}

.aboutrow1 {
	top: 0%;
	width: 100%;
	height: 25%;
	color: #fff;
	position: relative;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	font-weight: 800;
}

.aboutrowm {
	top: 0%;
	width: 100%;
	height: 50%;
	color: #fff;
	position: relative;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	font-weight: 800;
}

.aboutrow2 {
	top: 0%;
	width: 100%;
	height: 25%;
	color: #fff;
	position: relative;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	font-weight: 800;
}

.rounded-circle {
	height: 100%;
	width: auto;
}

.aboutme {
	left: 0;
	height: 100%;
	color: #000;
	font-size: 1.0em;
	line-height: 1.3em;
	text-align: left;
}

#kann {
	font-size: 1.25em;
	font-weight: 500;
}

#whoami {
	font-size: 0.9em;
	font-weight: 300;
}

.aaa, .bbb, .ccc {
	background-color: transparent;
}

.aaa #Res {
	color: #fff;
	transition: 0.5s;
	text-decoration: none;
	background-color: transparent;
	position: relative;
	transition: 0.5s;
}

.aaa:hover {
	background-color: #fff;
	color: #000;
	transition: 0.5s;
}

.aaa #Res:hover {
	color: #000;
}

.bbb #Res {
	color: #fff;
	transition: 0.5s;
	text-decoration: none;
	background-color: transparent;
	position: relative;
	transition: 0.5s;
}

.bbb:hover {
	background-color: #fff;
	color: #000000;
	transition: 0.5s;
}

.bbb #Res:hover {
	color: #000;
}

.ccc #Res {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	position: relative;
	transition: 0.5s;
}

.ccc:hover {
	background-color: #fff;
	color: #000;
	transition: 0.5s;
}

.ccc #Res:hover {
	color: #000;
}